.container {
  margin: 10rem;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}

.image {
  border: .2rem solid #adff2f;
  border-radius: 1rem;
  width: 50rem;
}

.name {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 4rem;
  line-height: 3.3rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #adff2f;
  text-shadow: 1px 0 1px #adff2f,
  0 1px 1px #adff2f,
  -1px 0 1px #adff2f,
  0 -1px 1px #adff2f;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2rem;
}

.item {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 3.3rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #adff2f;
  text-shadow: 1px 0 1px #adff2f,
  0 1px 1px #adff2f,
  -1px 0 1px #adff2f,
  0 -1px 1px #adff2f;
}

.item_data {
  padding-left: 1rem;

  &__red {
    padding-left: 1rem;
    color: red;
    text-shadow: 1px 0 1px firebrick,
    0 1px 1px firebrick,
    -1px 0 1px firebrick,
    0 -1px 1px firebrick;
  }

  &__blue {
    padding-left: 1rem;
    color: deepskyblue;
    text-shadow: 1px 0 1px cornflowerblue,
    0 1px 1px cornflowerblue,
    -1px 0 1px cornflowerblue,
    0 -1px 1px cornflowerblue;
  }
}
