
.box {
  position: relative;
  border: .2rem solid #adff2f;
  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;
  transition: .3s;

  &:hover {
    transform: translateY(-1rem);
    box-shadow: 0 8px 26px #adff2f, 0 28px 30px rgba(0, 0, 0, 0.3);
  }
}

.description {
  padding: 1rem;
  top: 0;
}

.name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 3.3rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  text-shadow: 1px 0 1px #adff2f,
  0 1px 1px #adff2f,
  -1px 0 1px #adff2f,
  0 -1px 1px #adff2f;
}

.text_box {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3.3rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  text-shadow: 1px 0 1px #adff2f,
  0 1px 1px #adff2f,
  -1px 0 1px #adff2f,
  0 -1px 1px #adff2f;
}
